{% extends 'base.html.twig' %}

{% block title %}Hello autoController!{% endblock %}

{% block body %}
<style>
    .fas,
.far {
  padding: 0 0.5em 0 0;
}
</style>

{# {{ dump(app.session.get('cars')) }} #}
{# {{ dump(cars) }} #}


<div class="example-wrapper">
    <h1>Liste des voitures par catégorie</h1>
    <div class='d-flex justify-content-end'>{% include 'auto/search.html.twig' %}</div>
    <a href="{{path('add_auto')}}" class="btn btn-primary"></i>Ajouter une voiture</a>
    {# {{ app.request.get("id") }} #}
    {# <form method="get" action="{{ path('auto_cat_search', {id:app.request.get("id")}) }}" class="">
    <input type="text" placeholder="Rechercher..." name="search">
    <button type='submit' class="btn btn-secondary">
        <i class="fas fa-search"></i>
    </button>
</form> #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Puissance</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for auto in autos %}
            <tr>
                <td>{{auto.id}}</td>
                <td>{{auto.marque}}</td>
                <td>{{auto.modele}}</td>
                <td>{{auto.puissance}} ch</td>
                <td>{{auto.prix | format_currency('EUR')}}</td>
                <td><img src="{{ asset('imgs/' ~ auto.image)}}" style="width: 10em; max-height: 8em;"></td>
                <td>{{auto.category.name}}</td>               
                <td>
                    <a href="{{path('auto_item',{id:auto.id})}}" class="btn btn-primary"><i class="fas fa-info-circle"></i>Détail</a>
                    <a href="{{path('auto_edit',{id:auto.id})}}" class="btn btn-info"><i class="fas fa-pen"></i>Editer</a>
                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')" href="{{path('auto_delete',{id:auto.id})}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Supprimer</a>
                    {# <a href="auto/{{auto.id}}" class="btn btn-info"><i class="fas fa-pen"></i>Détail</a> #}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="d-flex justify-content-center">{{ knp_pagination_render(autos) }}</div>
</div>
{% endblock %}
