{% extends 'base.html.twig' %}
{% block body %}
<div class="col-4 offset-4">
<div class="row">
   <div class="col-6">
   {{form_start(form_edit)}}

    {{form_label(form_edit.nom)}} 
    {{form_widget(form_edit.nom)}} 
    {{form_errors(form_edit.nom)}} 

    </div>
    <div class="col-6">
    {{form_label(form_edit.prenom)}} 
    {{form_widget(form_edit.prenom)}} 
    {{form_errors(form_edit.prenom)}} 

    </div>
    {{form_row(form_edit.telephone,{'label' : 'Votre numéro de téléphone'})}}
   {{form_rest(form_edit)}}
   <button class="btn btn-warning col-12">Ajouter</button>
   {{form_end(form_edit)}}
   </div>
   </div>
{% endblock %}
