{% extends 'base.html.twig' %}

{% block title %}Hello stagiaireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em stagiaire; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Liste des stagiaires</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>telephone</th>
                <th>adresse</th>
                <th>diplome</th>
                <th>date de naissance</th>
                <th>contrat</th>
                <th>photo</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{stagiaire.id}}</td>
                <td>{{stagiaire.nom}}</td>
                <td>{{stagiaire.prenom}}</td>
                <td>{{stagiaire.telephone}}</td>
                <td>{{stagiaire.adresse}}</td>
                <td>{{stagiaire.diplome}}</td>
                <td>{{stagiaire.dateNaiss|date('d-m-Y')}}</td>
                <td>{{stagiaire.contrat}}</td>
                <td><img src="{{ asset('' ~ stagiaire.photo)}}"></td>
                <td>{{stagiaire.description}}</td>
                
               
            </tr>
            
        </tbody>

    </table>
</div>
{% endblock %}
